:root {
  --cor-00: #ffffff;
  --cor-01: #B3A6A0;
  --cor-02: #E3DEDB;
  --cor-03: #130907;
  --cor-04: #66605B;
  --cor-05: #AB6C38;
  --cor-06: #766961;
}

.cor-00 {
  color: var(--cor-00);
}

.cor-01 {
  color: var(--cor-01);
}
.cor-02 {
  color: var(--cor-02);
}
.cor-03 {
  color: var(--cor-03);
}
.cor-04 {
  color: var(--cor-04);
}
.cor-05 {
  color: var(--cor-05);
}
.cor-06 {
  color: var(--cor-06);
}